<div class="container-fluid sidenavcontainer">
    <div class="row">
        <div class="col-12 sidenav">
            <ul class='navigaton-links-container'>
                <li class="flex-item"  routerLink='profile' (click)="changecolor(0)" ><!--<i class="fa fa-user" (click)="changecolor(0)" [ngStyle]="{'color':colorselected[0]}" aria-hidden="true"></i>--> <img src="assets\icons\account.png" alt=""><p class='show-hide-text'>Profile</p> </li>
                <li class="flex-item" routerLink='chat' (click)="changecolor(1)"><!--<i class="fa fa-comments" (click)="changecolor(1)" [ngStyle]="{'color':colorselected[1]}" aria-hidden="true"></i>--> <img src="assets\icons\chat-bubble.png" alt=""><p class='show-hide-text'>Chat</p> </li>
                <li class="flex-item" routerLink='manage-requests' (click)="changecolor(1)"><!--<i class="fa fa-comments" (click)="changecolor(1)" [ngStyle]="{'color':colorselected[1]}" aria-hidden="true"></i>--> <img src="assets\icons\add-user.png" alt=""><p class='show-hide-text'>Requests</p> </li>
                <li class="flex-item messages" routerLink='manage-connections' (click)="changecolor(1)"><!--<i class="fa fa-comments" (click)="changecolor(1)" [ngStyle]="{'color':colorselected[1]}" aria-hidden="true"></i>--><img src="assets\icons\users.png" alt=""> <span class='message-indicator' [class.new-message]='newMessage == true'></span> <p class='show-hide-text'>Connections</p> </li>
                <li class="flex-item" (click)='logout()'><!--<i class="fa fa-sign-out" (click)="changecolor(2)" [ngStyle]="{'color':colorselected[2]}" aria-hidden="true"></i>--><img src="assets\icons\logout (1).png" alt=""><p class='show-hide-text'>Logout</p></li>
            </ul>    
        </div>
    </div>
</div>
