<div class="container">
    <div class="row">
        <div class="col-12 category-container">
            <div class="join-group p-2 bg-dark" (click)="goToMessageArea()">
                 <div class='headers'>
                     <h3>Join Group</h3>
                     <div class="arrow">
                         <i class='fa fa-arrow-right'></i>
                     </div>
                </div> 
                <div class="text">
                    <p class='bg-secondary'>Join a random group chat </p>
                </div>
            </div>
        </div>
    </div>
</div>