
.container-fluid {
    margin:0px;
    padding:0px;
}

.row{
    margin:0px;
    padding:0px;
}

.circle-container{
    width:100%;
    min-height:100vh;
    position:relative;
}

.circle{
    width:33vw;
    height:33vw;
    border: 9px double black;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    position:absolute;
    top:45%;
    left:50%;
    transform-origin:center;
    animation:rotation 60s infinite ease-in-out;
}

.circle:hover{
    animation-play-state: paused; 
}

@keyframes rotation{
    0%{
        transform:translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform:translate(-50%, -50%) rotate(360deg);
    }
}


.top, .right, .left, .bottom{
    position:absolute;
    transform:translate(-50%, -50%);
}

.top{
    top:0%;
    left:50%;
}

.right{
    top:50%;
    left:100%;  
}

.left{
    top:50%;
    left:0%;
}

.bottom{
    top:100%;
    left:50%;
}

.div-friend{
    width:25%;
    height:25%;
    border-radius:50%;
    content: " ";
    background:white;
    border:5px double black;
   /* animation:rotate-backward 80s infinite; */
}

.div-friend-online{
    border-color: green;
}


.message-indicator{
    position:absolute;
    left:80%;
    bottom:2px;
    width:25px;
    height:25px;
    border-radius:50%;
    background:green;
    color:white;
    font-size:14px;
    display:flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotate-backward{
    0%{
        transform:translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform:translate(-50%, -50%) rotate(-360deg);
    }
}

.div-friend .profile-pic{
    width:100%;
    height:100%;
    border-radius: 50%;
    overflow: hidden;
}
.div-friend .profile-pic img{
    width:100%;
    height:100%;
}

.options{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width:0%;
    overflow:hidden;
    position:absolute;
    top:0px;
    left:50%;
    transform:translateX(-50%);
}

.div-friend:hover .options{
    width:unset;
    animation:popout 0.2s forwards;
}

@keyframes popout {
    0%{
        width:0px;
    }
    99%{
        width:110%;
        top:-50px;
    }
    100%{
        width:110%;
        top:-50px;
    }
}

.options div{
    width:50px;
    height:50px;
    border-radius: 50%;
    cursor: pointer;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}

.options div:first-child{
    transform:rotate(-15deg);
}
.options div:last-child{
    transform:rotate(15deg);
}

.options div img{
    width:30px;
    height:30px;
    
}

.circle-container .center-details{
    position:absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:25vw;
    height:25vw;
    border-radius:50%;
}

.circle-container .center-details .self-pic{
    display:none;
}

.circle-container .center-details .friend-details .name h2, .about p{
   text-align:center; 
   letter-spacing:1px;
}

.friend-details .name h2{
    font-weight: 500;
    font-size:30px;
}

.friend-details .about p{
    font-size:18px;
}


.pagination{
    position:absolute;
    top:80%;
    right:50px;
    transform:translateY(-50%);
}

.pagination ul{
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    
}

.pagination ul li{
    text-align:center;
    font-size:18px;
    padding:2px 5px;
    margin:0px 3px;;
}

.pagination ul .nav-button{
    cursor: pointer;
    letter-spacing:1px;
    font-weight:200;
}

.numbers{
    background:whitesmoke;
    font-size:12px;
    color:black;
    padding:1px 3px;
    height:16px;
}

#current-page{
    width:30px;
    font-size:16px;
    text-align: center;
}

.disabled{
    background:rgba(0, 123, 255, 0.2);
    border:none;
    cursor: not-allowed !important;
}
@media screen and (max-width:750px){
    .circle{
        width:65vw;
        height:65vw;
    }
    
    .options div{
        width:40px;
        height:40px;
    }

    .options div img {
        width:25px;
        height:25px;
    }

    @keyframes popout {
        0%{
            width:0px;
        }
        99%{
            width:160%;
            top:-40px;
        }
        100%{
            width:160%;
            top:-40px;
        }
    }
    .div-friend {
        width:35%;
        height:35%;
    }
    .center-details .friend-details .name h2{
        font-size:20px;
    }
    .center-details .friend-details .about p{
        font-size:16px;
    }


    .pagination{
        width:80%;
        top:80%;
        left:50%;
        right:unset;
        transform:translate(-50%);
    }

    .pagination ul{
        flex-direction: row;
        justify-content: center;
        align-items:flex-start;
        width:100%;
        padding:0px;
    }

    .pagination ul li{
        margin:0px 3px;;
        font-size:16px;
    }
}