<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <h2 class='text-center mb-3'><small>Edit Your Profile</small></h2>
            <hr>
            <div class="profile-container">
               
                    
                <!-- profile pic -->
               <div class="profile-pic">
                   <img [src]="proPic_src" alt="">
                   <input type="file" name="propic" id="propic" accept="image/*" #imageFile (change)="fileSelectAndUpload($event)">
                   <div class='blur-bg'>
                    <div class="btn" id='profilepicuploader' (click)="imageFile.click()">+</div>
                   </div>
               </div>
               <!-- end profile pic -->

               <!--details-->
               <div class="details">
                   <form action="">
                       <div class="form-group">
                           <label for="fullname" class='form-label'> <input type="text" class='form-control' name='fullname' [value]="FullName"></label>
                       </div>
                       
                       <div class="form-group">
                        <label for="email" class='form-label'> <input type="text" class='form-control' name='fullname' [value]="email" Disabled></label>
                       </div>

                       <div class="form-group">
                        <label for="pasword" class='form-label'> <input type="password" class='form-control' name='fullname' [value]="password"> </label>
                       </div>
                       
                        <div class="form-group">
                            <label for="about" class='form-label'><textarea name="about" id="about" cols="30" rows="3" class='form-control' [value]="about"></textarea></label>
                        </div>

                       <div class="form-group">
                        <select name="gender" id="" class='form-control'>
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="No">Hide Gender</option>
                        </select>
                       </div>
                   </form>
                   <div class="buttons text-center mb-5">
                    <div class="btn border-danger py-2 px-3 mt-3">cancel</div>
                    <div class="btn btn-primary py-2 px-4 ml-2 mt-3">Save</div>
                   </div>

               </div>
               <!--end details -->

            </div>
 
        </div>
    </div>
</div>