* {
    box-sizing: border-box;
    padding:0;
    overflow-x: hidden;
    letter-spacing: 1px;

}
.container{
    
}
h2 {
    letter-spacing: 2px;
}
.row{
  
    display:flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
}
.profile-container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
input[type='file']{
    visibility:hidden;
}
.profile-pic{
    width:150px;
    height:150px;
    border-radius: 50%;
    overflow:hidden;
    position: relative;
    border:7px double black;
}

.profile-pic img{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.details{
 width:70%;
 margin:0px auto;
 margin-top:20px;
}
.form-label{
    width:100%;
}
.form-group{
    margin:2px;
}
.form-control{
    padding:5px;
    padding-left:10px;
    font-size:18px;
    background:white;
}
.form-control{
    letter-spacing: 1px;

}
option {
    text-align:center;
}
.blur-bg{
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
    background:rgba(0,0,0,0.3);
}
#profilepicuploader{
    position:absolute;
    width:40px;
    height:40px;
    background:whitesmoke;
    color:black;
    border-radius:50%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align: center;
    font-size:25px;
    opacity:1;
}


.btn-save {
    box-shadow:3px 3px 5px rgba(0,0,0,0.2);
    transition:0.1s;
    
}

.btn-save:hover {
    transform: scale(1.047);
    box-shadow:2px 2px 6px rgba(0,0,0,0.5);
}
.btn-save:hover span{
    transition: 0s;
}


.password-change-modal{
    position:fixed;
    z-index:9999;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    background:rgba(0,0,0,0.5);
    transition:0.5s;
    display:none;
}

.show-modal{
    display:flex;
}

.password-change-modal .form-container{
    width:40%;
    min-height:40%;
    padding:10px 5px;
    text-align:center;
    background:rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position:relative;
    transition:0.5s;
}

.close-modal{
    position:absolute;
    top:10px;
    right:10px;
    font-weight:500;
    font-size:22px;
    padding:5px;
    color:white;
    cursor:pointer;
}
.password-change-modal .form-container .form{
    width:100%;
    padding: 0px 10px;
}

.form-container .form-group{
    padding-bottom:5px;
}
.form-container .error{
    color:white;
}

.form-container input{
    text-align:center;
    margin:0px;
}

.form-container label{
    margin:2px;
}
.form-container button{
    color:white;
}


@media screen and (max-width:766px){
    .container{
        
      /*  margin-left:40px !important;
        background:black;*/
        
    }
    .profile-container{
        display:flex;
        flex-direction: column;
    }
    .details{
        width:87%;
        margin:20px 0px;
    }
    .form-control{
        text-align: center;

    }
    .profile-pic{
        width:150px;
        height:150px;
        align-self: center;
    }
    textarea{
        text-align:justify;
        font-family: 'Times New Roman', Times, serif;
    }
    .password-change-modal .form-container{
        width:95%;
    }
}